/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
}

p {
    font-size: 1.15rem;
}